html{
  background-color: #EEEEEE; 
}
body { 
	margin: 0; 
	padding: 1px 0 10px; 
	background: #eee url(/themes/ansuz_theme_wealth_unlimited/images/bg.gif) repeat-x; 
	font: normal .7em Tahoma, Verdana, Arial, Helvetica, Sans-Serif; 
	line-height: 1.6em; 
	color: #333; 
}
.clear{
  clear:both;
}
/* LINKS AND HEADINGS STYLING */

a { color: #546F92; background: inherit; }
a:hover { color: #808080; background: inherit; }
h1  { font: bold 2em "Trebuchet MS", Helvetica, Sans-Serif; margin: 0; color: #fff; background-color:transparent; }
h2  { font: bold 1.4em "Trebuchet MS", Helvetica, Sans-Serif; }
h3 { clear: both; font-size: 1.1em; color: #000; background: #fff url(/themes/ansuz_theme_wealth_unlimited/images/h3bg.gif) no-repeat center left; padding: 0 14px; margin: 0;}
.blue { color: #546F92; background: inherit; }
.image { float: left; border: 2px solid #e2e2e2; padding: 3px; margin: 0 15px 10px 0; }

/* CONTENT WRAPPER */

#main { 
	width: 900px; 
	margin: 25px auto 0 auto;
	position: relative;
	border: 1px solid #ccc;
	background: #fff;
}

/* TOP LEFT LOGO */

#logo { 
	float: left; 
	padding: 0;
	width: 428px;
	background-image: url(/themes/ansuz_theme_wealth_unlimited/images/logo.png);
  height: 68px;
}
	#logo h1 { display: none; color: #000; background: #fff; }

/* TOP RIGHT HORIZONTAL MENU */#navigation{
  border-bottom: 1px solid #ccc;
}
#navigation ul { 
	background: #fff url(/themes/ansuz_theme_wealth_unlimited/images/barul.gif) no-repeat bottom right; 
	color: #808080; 
	padding: 18px 1px 11px 0; 
	margin: 0;
	position:absolute;
  right:0;
  top:20px;
}
  #navigation h3 {
    display: none;
  }
	#navigation ul li { 
		padding: 14px 18px 14px 18px; 
		color: #444; 
		background: #fff url(/themes/ansuz_theme_wealth_unlimited/images/bar.gif) no-repeat bottom left; 
		display: inline; 
	}
	#navigation ul li.active { 
		background: #fff url(/themes/ansuz_theme_wealth_unlimited/images/baractive.gif) no-repeat bottom left; 
		color: #8D9CAF; 
		font-weight: bold; 
		padding: 14px 18px 14px 18px; 
		margin: 0 1px 0 0; 
	}
	#navigation ul li a { 
		background: #f8f8f8; 
		color: #808080; 
		text-decoration: none; 
	} 	
	#navigation ul li a:hover { 
		color: #000; 
		background: #f8f8f8; 
	}

/* LEFT INTRO SIDE */	

.login-block {
	clear: left;
	float: left;
	width: 250px;
	background: #8D9CAF url(/themes/ansuz_theme_wealth_unlimited/images/leftintrobg.gif) repeat-x;
	color: #E5EAF2;
	margin: 10px 0 1px 0;
}
	.login-block a { color: #fff; background: inherit; }
	.login-block p { padding: 14px 15px; margin: 0; }

/* login */
.login-block p input{
  background:#EEEEEE none repeat scroll 0 0;
  border:1px solid #444;
  color:#444444;
}
.login-block p .login-button{
  margin: 10px 0;
}

	/* LEFT VERTICAL MENU */
	
	#menu_left { 
		float: left;  
		margin: 0 0 6px 0; 
		padding: 0 0 1px 0; 
		border-bottom: 2px solid #e2e2e2; 
	}
		#menu_left li { list-style: none; }
		#menu_left li a { 
			display: block; 
			color: #3F5B7F; 
			background: #C2CEDE url(/themes/ansuz_theme_wealth_unlimited/images/arrow.gif) no-repeat center left; 
			width: 204px; 
			padding: 7px 23px 7px 23px; 
			margin: 0 0 1px 0; 
			font-weight: bold; 
			text-decoration: none; 
		}	
		#menu_left li a:hover { background: #9EB1C9 url(/themes/ansuz_theme_wealth_unlimited/images/arrow.gif) no-repeat center left; color: #fff;  }

/* RIGHT INTRO SIDE */
	
#intro_right {
	float: right;
	width: 340px;
	padding: 25px 280px 0 20px;
	background: #BCCEDA url(/themes/ansuz_theme_wealth_unlimited/images/intro-2.png) no-repeat;
	color: #547592;
	margin: 0 0 6px 0;
	height: 174px;
	border: 2px solid #e2e2e2;
}
	#intro_right h1 { margin: 0 0 20px 0; }
	#intro_right .white { color: #FFF; background-color:transparent; }
	
/* LEFT SIDE */
	
#left {
	float: left;
	width: 250px;
}
	.box {
		padding: 4px 15px;
		border: 1px solid #ccc;
		margin: 0 0 10px 0;
	}
	.note {
		padding: 15px 15px 20px 100px;
		border: 1px solid #CFCB66;
		margin: 0 0 5px 0;
		background: #FFFFAD url(/themes/ansuz_theme_wealth_unlimited/images/package.gif) no-repeat;
		color: #585616;
	}
	.note.account-note {
		padding: 15px 15px 40px 80px;
		border: 1px solid #CFCB66;
		margin: 0 0 5px 0;
		background: #FFFFAD url(/themes/ansuz_theme_wealth_unlimited/images/account-note.png) no-repeat;
		color: #585616;
	}
    label.account-info{
      display:block;
      float:left;
      padding:0 10px 0 0;
      text-align:right;
      width:65px;
    }
/* RIGHT SIDE */

#right, .content-wrapper {
	float: right;
	width: 643px;
	margin-top: 10px;
}
	.leftcol { 
		float: left; 
		padding: 12px 15px;
		width: 285px; 
		border:#ccc 1px solid;
		text-align: justify;
		margin: 0 0 8px 0;
	}
	  .financial{
	    text-align: left !important;
	  }
	  .financial label{
	    display:block;
	    width: 130px;
	    float:left;
	  }
	  .financial input{
	    width: 60px;
	  }
	  .financial input.checkbox{
	    float:left;
	  } 
	  .financial .submit-container{
	    text-align:center;
	  }
  	  .financial input.button{
  	    width:140px;
  	    margin:0 auto;
  	  }
	  
	.rightcol { 
		float: right; 
		padding: 10px 15px;
		width: 285px; 
		border:#ccc 1px solid;
		margin: 0 0 8px 0;
		}
	.main-content, .special {
		clear: both;
		margin:0px 0 20px 0;	
		padding: 5px 20px;
		border: 1px solid #ccc;
		background: #ffe;
		color: #444;
	}
/* detail container */

.detail_container{
  margin-top: 10px;
}
/* table */

#hor-minimalist-b {
  background:transparent none repeat scroll 0 0;
  border-collapse:collapse;
  font-family:"Lucida Sans Unicode","Lucida Grande",Sans-Serif;
  font-size:12px;
  text-align:left;
  width:100%;
}
  #hor-minimalist-b th {
    border-bottom:2px solid #6678B1;
    color:#003399;
    font-size:14px;
    font-weight:normal;
    padding:10px 8px;
  }
  #hor-minimalist-b td {
    border-bottom:1px solid #CCCCCC;
    color:#666699;
    padding:6px 8px;
  }
  #hor-minimalist-b tbody tr:hover td {
    color:#000099;
  }
  
/* FOOTER */

#footer { clear: both; padding: 5px; border-top: 1px solid #ccc; }